<a href="https://colab.research.google.com/github/Caleb699-hub/challenge_alura_store/blob/main/AluraStoreLatam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importación de datos

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

#1. Análisis de facturación

fUNCIÓN DE INGRSO TOTAL

In [10]:
def ingreso_total_tienda(objeto):
  return sum(objeto)

Igreso total de la tienda 1

In [11]:
ingreso_tienda1 = ingreso_total_tienda(tienda["Precio"])
print(f"El ingreso total de la tienda es {ingreso_tienda1}")

El ingreso total de la tienda es 1150880400.0

Ingreso total de la tienda 2

In [12]:
ingreso_tienda2 = ingreso_total_tienda(tienda2['Precio'])

In [13]:
print(f"El ingreso total de la tienda es {ingreso_tienda2}")

El ingreso total de la tienda es 1116343500.0

Ingreso total de la tienda 3

In [14]:
ingreso_tienda3 = ingreso_total_tienda(tienda3['Precio'])

In [15]:
print(f"El ingreso total de la tienda es {ingreso_tienda3}")

El ingreso total de la tienda es 1098019600.0

Ingreso total de la tienda 4

In [16]:
ingreso_tienda4 = ingreso_total_tienda(tienda4['Precio'])

In [17]:
print(f"El ingreso total de la tienda es {ingreso_tienda4}")

El ingreso total de la tienda es 1038375700.0

# 2. Ventas por categoría

Ventas por categoría de la tienda 1

In [27]:
ventas_tienda1 = {}
for categoria in tienda['Categoría del Producto']:
  if categoria in ventas_tienda1:
    ventas_tienda1[categoria] +=1
  else:
    ventas_tienda1[categoria] = 1
df = pd.DataFrame(list(ventas_tienda1.items()),columns=["categoría","ventas"])
print(df)

                 categoría  ventas
0             Electrónicos     448
1                  Muebles     465
2                 Juguetes     324
3        Electrodomésticos     312
4  Artículos para el hogar     171
5     Deportes y diversión     284
6                   Libros     173
7   Instrumentos musicales     182

Ventas por categoría de la tienda 2

In [28]:
ventas_tienda2 = {}
for categoria in tienda2['Categoría del Producto']:
  if categoria in ventas_tienda2:
    ventas_tienda2[categoria] +=1
  else:
    ventas_tienda2[categoria] = 1
df = pd.DataFrame(list(ventas_tienda2.items()),columns=["categoría","ventas"])
print(df)

                 categoría  ventas
0                  Muebles     442
1   Instrumentos musicales     224
2     Deportes y diversión     275
3             Electrónicos     422
4  Artículos para el hogar     181
5                 Juguetes     313
6        Electrodomésticos     305
7                   Libros     197

Venta por categoría de la tienda 3

In [29]:
ventas_tienda3 = {}
for categoria in tienda3['Categoría del Producto']:
  if categoria in ventas_tienda3:
    ventas_tienda3[categoria] +=1
  else:
    ventas_tienda3[categoria] = 1
df = pd.DataFrame(list(ventas_tienda3.items()),columns=["categoría","ventas"])
print(df)

                 categoría  ventas
0        Electrodomésticos     278
1                  Muebles     499
2   Instrumentos musicales     177
3     Deportes y diversión     277
4             Electrónicos     451
5                 Juguetes     315
6  Artículos para el hogar     177
7                   Libros     185

Ventas por categoría de la tienda 4

In [30]:
ventas_tienda4 = {}
for categoria in tienda4['Categoría del Producto']:
  if categoria in ventas_tienda4:
    ventas_tienda4[categoria] +=1
  else:
    ventas_tienda4[categoria] = 1
df = pd.DataFrame(list(ventas_tienda4.items()),columns=["categoría","ventas"])
print(df)

                 categoría  ventas
0        Electrodomésticos     254
1                  Muebles     480
2     Deportes y diversión     277
3                   Libros     187
4             Electrónicos     451
5   Instrumentos musicales     170
6                 Juguetes     338
7  Artículos para el hogar     201

# 3. Calificación promedio de la tienda

# 4. Productos más y menos vendidos

# 5. Envío promedio por tienda